body {
  background-color: #f4f6f9;
}

#isi-tes-soal img {
  display: block;
  max-width: 100%;
  height: auto;
}

.back-body {
  background-image: url("<?php echo base_url(); ?>public/images/back.jpg");
  background-position: center;
  background-size: cover;
}

.shadow-box {
  box-shadow: 6px 6px 10px 0px #00000070;
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.7);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.flyover {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #fcc604;
  top: 0;
  left: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 100px;
}

.close-button-flyover {
  position: absolute;
  right: 20px;
}

table img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  line-height: 14px !important;
  padding-top: 10px !important;
  /* overflow: ; */
}

.logo-mini {
  margin-top: 8px;
}

.select2-container .select2-selection--single {
  height: 38px !important;
}

#swal2-title > p {
  margin: 0 !important;
}

.hide {
  display: none;
}

.badge > .number {
  /* background-color: red; */
  padding-left: 6px;
  margin-left: 5px;
  height: 100%;
  border-left: 0.5px solid white;
}

.sticky {
  position: sticky !important;
}

* {
  box-sizing: border-box;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 200px;
  height: 200px;
}

.badge-lg {
  font-size: 14px;
}

.blink_text {
  animation: 1s blinker linear infinite;
  -webkit-animation: 1s blinker linear infinite;
  -moz-animation: 1s blinker linear infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

p {
  margin: 0px;
}

.login-logo{
  font-size: 1rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .login-box {
    width: 90%;
  }

  .login-logo {
    font-size: 1.3rem !important;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .login-box {
    width: 70%;
  }
  .login-logo {
    font-size: 1.7rem !important;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .login-box {
    width: 500px;
  }

  .login-logo {
    font-size: 2.1rem !important;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... }   */
